{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style> 
      
    .container{
        vertical-align: middle;
        font-family: 'Georgia';
        color: black
        font-weight: bold
        }
    .fill-height{
        padding-top: 250px;
        padding-bottom: 250px; 
        min-height: 100%;
        height:100vh;
        }
    body{ 
        background-color:white;
    }

    h1{
        color: black;
    }

      </style>
</head>

<center><body>
    <div class="container fill-height">
        <div class="row">
         <div class="col-lg-1"></div>
         <div class="col-lg-10">
           <h1 style="text-align:center;"> What would you like to do?</h1>
           <br>
        <a class="btn btn-primary btn-lg" href="register" role="button">Register Patient</a>
        <a class="btn btn-primary btn-lg" href="prescribe" role="button">Prescribe Medicine</a>
        <a class="btn btn-primary btn-lg" href="display" role="button">Show Registered Patients</a>
         </div>
        <div class="col-lg-1"></div>
     </div>
   </div>
</body></center>

{% endblock %}
