{% extends "base.html" %}
{% block title %}Prescribing Page{% endblock %}
{% block content %}

<br>

<body>
	<form action ="/prescribing" style="width:500px; margin:auto" method="POST">
	<div class="form-group">
		<span class="input-group-text" id="basic-addon1">Please Enter the Prescribing Drug for Patient: </span>
		<input type="text" name="drug" id="drug" class="form-control" placeholder="Drug">
	<br>
	<span class="input-group-text" id="basic-addon1">Time Between Doses</span>
        <input type="text" name="dosage" id="dosage" class="form-control" placeholder="Prescribed Dosage">
    <br>
    <span class="input-group-text" id="basic-addon1">Other Comments</span>
		<input type="text" name="comments" id="comments" class="form-control" placeholder="Place any comments you have for the patient here">
	<br>
	<span class="input-group-text" id="basic-addon1">Strict Dosage?</span>	
	<center><input type="checkbox" id="strict" name="strict" value="True"></center>
	<center><label for="strict"> Yes?</label><br></center>
	</div>
	
	
    
	<center><button type="submit" class="btn btn-primary" style="width:250px; margin:auto">Submit</button></center>
	</form>
</body> 

{% endblock %}


