{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}

<br>

<body>
	<form action ="/prescribe" style="width:500px; margin:auto" method="POST">
	<div class="form-group">
		<h2>Please Verify Patient Information Before Continuing</h2>
		<span class="input-group-text" id="basic-addon1">Please Input Patient's First Name and Last Name: </span>
		<input type="text" name="name" id="name" class="form-control" placeholder="Peter Anteater">
	<br>
	<span class="input-group-text" id="basic-addon1">Please Input Patient's Birthday: </span>
		<input type="text" name="bday" id="bday" class="form-control" placeholder="MMDDYYYY">
	</div>
	<center><button type="submit" class="btn btn-primary" style="width:250px; margin:auto">Verify</button></center>
	</form>
</body> 

{% endblock %}


